body, html {
    height: 100%;
}

.parallax {
    background-image: url('../images/aundre1.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 100%;
}