body, html {
    height: 100%;
}

.parallax {
    background-image: url('../images/aundre2.png');
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: fill;
    background-repeat: no-repeat !important;
    background-size: cover;
    object-fit: cover;
    height: 100%;
}

h3 {
    text-align: center;
    font-size: 40px;
}

p {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.intro {
    background-color: white;
    color: black;
    text-align: center;
    padding: 50px 80px;
    text-align: justify;
    font-weight: bolder;
}
